body{
    background: black;
    color: white;
    margin: 0px;
    font-family: "Nanum Gothic", sans-serif;
    margin-bottom: 100px;
}
header{
    font-size: 32px;
    border-bottom: solid 6px rgb(228, 42, 42);
    padding: 20px;
}

.chamada {
    background: rgb(255, 000, 000);
    padding-bottom: 80px; 
    padding-top: 80px; 
    display: flex; 
    justify-content: center;
}

.chamada-texto {
    margin-right: 20px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.Mais-videos-relacionados {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}
.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.Mais-videos-relacionados img:hover {
opacity: 1.0;
border: 1px solid green;
}

.categoria h2 {
    color: rgb(228, 42, 42);
}